{%extends 'layout/master_manage.html'%}
{%block content%}
<form class="container form-inline" method="POST">
    {{form.hidden_tag()}}
    <div class="form-group row">
        <div class="col-md-8">
            {{form.ma_hoa_don_tim_kiem(class="form-control",placeholder="Nhập mã hóa đơn")}}
        </div>
        <div class="col-md-4">
            <button class="btn btn-info" type="submit">Xem</button>
        </div>
    </div>
</form>


<div class="container" style="margin: 20px auto;">
    <div class="row">
        <div class="col-md-12 text-center">
            <h3>{{tieu_de}}</h3>
        </div>
    </div>
    {%if chi_tiet_order != None%}
    <div class="row">
        <table class="table" style="margin: 40px auto;">
            <thead class="thead-dark">

                <tr>
                    <th scope="col">Mã hoá đơn</th>
                    <th scope="col">Ngày đặt hàng</th>
                    <th scope="col">Tổng tiền</th>
                    <th scope="col">Địa chỉ giao hàng</th>
                    <th scope="col">Trạng thái</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row"><a href="{{url_for('chi_tiet_order', hd_id = chi_tiet_order['salesOrder']['orderNumber'])}}">{{chi_tiet_order['salesOrder']['orderNumber']}}</a></th>
                    <td>{{chi_tiet_order['salesOrder']['orderDate']}}</td>
                    <td>{{chi_tiet_order['salesOrder']['totalAmount']}}</td>
                    <td>{{chi_tiet_order['salesOrder']['regionName']}}</td>
                    <td>{{trang_thai[chi_tiet_order['salesOrder']['orderStatus']]}} <p><small>Ngày cập nhật: {{chi_tiet_order['salesOrder']['orderStatusDate']}}</small></p></td>
                    

                </tr>
                
            </tbody>
        </table>
    </div>
    {%endif%}
</div>
{%endblock%}