{%extends 'layout/master_manage.html'%}
{%block content%}
<div class="container">
    <div class="row">
        <table class="table">
            <thead>
              <tr>
                <th scope="col">Mã đơn hàng</th>
                <th scope="col">Lúc</th>
                <th scope="col">Đến</th>
                <th scope="col">Hình thức vận chuyển</th>
                <th scope="col">Tổng tiền</th>
                <th scope="col"></th>

              </tr>
            </thead>
            <tbody>
            {%for item in ds_chi_tiet_order%}
              <tr>
                
                <td><a href="{{url_for('chi_tiet_order', hd_id = item['salesOrder']['orderNumber'])}}">{{item['salesOrder']['orderNumber']}}</a></td>
                

                <td>{{item['salesOrder']['orderDate']}}</td>
                <td>{{item['salesOrder']['receiverFullAddress']}}</td>
                <td>{{item['salesOrder_info_detail']['carrierName']}}</td>
                <td>{{"{:,}".format(item['salesOrder']['totalAmount'])}}</td>
                {%if item['salesOrder_info_detail']['orderStatus'] == 13%}
                <td>{{item['salesOrder_info_detail']['reasonCancel']}}</td>
                {%endif%}
              </tr>
            {%endfor%}
            </tbody>
          </table>
    </div>
</div>
{%endblock%}